<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand oswald-400" style="margin-left: 50px;">Logo</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="samples" class="nav-link oswald-400">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link oswald-400">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>